<h1> Welcome </h1>
<h3> This is a space to share articles, book recommendations, and your thoughts with others in this community. Go forth and question, provoke, and inspire each other. </h3>

<p> <%= link_to "Add Article", "articles/new" %> </p>

<ul>
	<% @articles.each do |article| %>
	<li>
		<p> <%= link_to article.title, "/articles/#{article.id}" %> </p>
		<p> <%= article.comment %>
			<%= link_to "(delete)", "/articles/#{article.id}", :method => "delete" %>
		</p>
	</li>
	<% end %>
</ul>