<div class="page-body">
	<div class="container-fluid">
		<h3> My Favorites </h3>
		<ul class="list-group">
			<% @posts.each do |post| %>
				<li class="list-group-item">
					<p>
						<div class="row container-fluid">
							<%= link_to post.title, "/posts/#{post.id}" %>
							<span class="pull-right">
								<%= button_to "Unfavorite", favorite_post_path(post, type: "unfavorite"), method: :put, :class => "btn btn-default" %>
							</span>
						</div>
					</p>
				</li>
			<% end %>
		</ul>

		<%= paginate @posts %>
	</div>
</div>