<div class="page-header">
	<div class="container-fluid">
		<h4> Welcome! This is a space to share and archive your online findings in this community. Inspire and be inspired. </h4>
		<% if session[:user_id] %>
			<p>
				<a href="posts/new" class="btn btn-default" role="button"> Add Post </a>
			</p>
		<% end %>
	</div>
</div>

<div class="page-body">
	<div class="container-fluid">
		<ul class="list-group">
			<% @posts.each do |post| %>
			<li class="list-group-item">
				<p> <%= link_to post.title, "/posts/#{post.id}" %> </p>
				<p> <%= post.note %></p>
				<p> Tags: <%= raw post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %> </p>
			</li>
			<% end %>
		</ul>

		<%= paginate @posts %>
	</div>
</div>